body{

    margin: 0%;
    padding: 0%;
    background-image: url('images/background003.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .nav_bar{

    padding: 2%;
    width: auto;
    margin: auto;
    height: 3vh;
    
  }
  
  .nav_bar span{
  
    
    font-size: 5vh;
    color: white;
    display: inline-block;
    font-weight: bolder;
  }
  
  .nav_bar .drop_down{
  
    width: auto;
    height: auto;
    position: relative;
    display: inline-block;
    float: right;
  }

  .nav_bar .drop_down button{
  
    width: 10vh;
    height: 6vh;
    border-radius: 10%;
    border: none;
    font-size: 2.6vh;
    color: black;
    background-color: white;
  }
  
  .nav_bar .drop_down .dropdown_content{
  
    position: absolute;
    display: none;
    left: -130%;
    top: 6vh;
    background-color: white;
    width: auto;
    height: auto;
    padding: 3vh;
       
   
  }
  
  .dropdown_content a{
  
    float: none;
    display: block;
    font-size: 2.5vh;
    padding: 3vh;
    color: black;
    cursor: pointer;
    text-decoration: none;
    
  }
  
  
  .nav_bar .drop_down:hover .dropdown_content{
  
    
    display: block;
    transition: 700ms;
    
    
   
  }
  
  
  .drop_down button:hover{
  
    background-color: #6601e5;
    color: white;
    transition: 700ms;
    
  }
  
  .dropdown_content a:hover{
  
    background-color: #6601e5;
    color: white;
    transition: 700ms;
    
  }
  
  
  .publications{
  
    width: auto;
    height: auto;
    padding: 2%;
  
  }
  
  .publications h1{
  
    font-size: 6.5vh;
    color: white;
    text-align: center;
  }
  

  .publications .journal_section h2{
  
    font-size: 5vh;
    color: white;
    font-weight: bolder;
  }

  .publications .journal_section{
  
    width: 85%;
    margin: auto;
    height: auto;
    padding: 3%;
    text-align: left;
  }
  
  .publications .journal_section .title{
  
    font-size: 7vh;
    color: white;
    margin-bottom: 0%;
    font-weight: bolder;
  }
  
  

  .publications .journal_section .journal_name{
  
    font-size: 4vh;
    font-weight: bolder;
    color: white;
    margin-top: 0.1%;
    margin-bottom: 2%;
  }

  .publications .journal_section .issue_date{

    font-size: 4vh;
    font-weight: bolder;
    color: white;
    margin-top: 0.1%;
    margin-bottom: 2%;

  }
  .publications .journal_section button{

    width: auto;
    height: auto;
    padding: 2vh;
    border: none;
    font-size: 2.5vh;
    color: #6601e5;
    background-color: white;
    font-weight: bolder;
  }

  .publications .journal_section button:hover{

    width: auto;
    height: auto;
    padding: 2vh;
    border: none;
    font-size: 3vh;
    color: white;
    background-color: #6601e5;
    font-weight: bolder;
    transition: 500ms;
  }
  
  .publications .journal_section:hover .title{
  
    font-size: 8vh;
    transition: 500ms;
  }
  
  
  
  .publications .journal_section:hover{
  
    background-color: rgba(0, 0, 0, 0.4);
    transition: 500ms;
  }

  @media screen and (max-width:915px) {

    

    .publications h1{

      font-size: 4vh;
      margin-top: 8vh;
    }

    .publications .journal_section h2{

      font-size: 3.7vh;
    }
    
    .publications .journal_section .title{

      font-size: 6vh;

    }

    .publications .journal_section .journal_name{

      font-size: 2.7vh;
      line-height: 5vh;
      font-weight: lighter;
    }

    .publications .journal_section .issue_date{

      font-size: 2.7vh;
      line-height: 5vh;
      font-weight: lighter;
    }

    .publications .journal_section button{

      font-size: 1.5vh;
    }

    .publications .journal_section button:hover{

      font-size: 2vh;
    }
  
    .publications .journal_section:hover .title{
  
      font-size: 6.5vh;
      transition: 500ms;
    }

    .nav_bar span{
  
    
        font-size: 3.8vh;
        
    }
    
    
    .nav_bar .drop_down button{
    
        width: auto;
        height: auto;
        font-size: 1.9vh;
        padding: 1.2vh;
        font-weight: bold;
    }
    
    .dropdown_content a{
    
       
        font-size: 2vh;
        padding: 3vh;
        
        
        
    }

    .nav_bar .drop_down .dropdown_content{

      position: absolute;
      left: -230%;
      top: 5vh;   
     
    }
    
  }